body {
    color: #fff;
    background-color: #1047D3;
}
.text-small {
    color: #4F8BF9;
    font-size: 1.3rem !important;
    font-weight: bold;
}
.stButton>button {
    color: #1047D3;

    border-radius: 50%;
    height: 3em;
    width: 3em;
}
.st{
    font-size: 1.3rem !important;
    font-weight: bold;
}
.stTextInput>div>div>input {
    color: #1047D3;
}